<div class="container row">
  <%= form_for(@game) do |f| %>
    <%= f.label :player_count %><br>
    <%= f.select :player_count, [["2", "2"],
                                  ["3", "3"],
                                  ["4", "4"],
                                  ["5", "5"],
                                  ["6", "6"],
                                  ["7", "7"],
                                  ["8", "8"],
                                  ["9", "9"],
                                  ["10", "10"]] %><br>
    <%= f.label :little_blind %><br>
    <%= f.select :little_blind, [["10", "10"],
                                  ["20", "20"],
                                  ["30", "30"],
                                  ["40", "40"],
                                  ["50", "50"],
                                  ["75", "75"],
                                  ["100", "100"],
                                  ["200", "200"]] %><br>
    <%= f.label :big_blind %><br>
    <%= f.select :big_blind, [["20", "20"],
                               ["40", "40"],
                               ["60", "60"],
                               ["80", "80"],
                               ["100", "100"],
                               ["150", "150"],
                               ["200", "200"],
                               ["400", "400"]] %></br>
    <%= f.submit "Play Poker", class: "btn btn-success" %><br>
  <% end %>
</div>
