<h3>Opponents: <% @game.ai_players.each do |ai_player| %></h3>
  <%= ai_player.name %>
<% end %>
<h3>Little Blind: $<%= @game.little_blind %>.00</h3>
<h3>Big Blind: $<%= @game.big_blind %>.00</h3>


<h3>Cash: $<%= current_user.cash %>.00</h3>
<h3>Pocket: <%= @game.users.last.present_cards %></h3>
<h3>Flop: <%= @game.present_flop unless @game.flop_cards.empty? %></h3>
<h3>Turn: <%= @game.turn_card if @game.turn_card %></h3>
<h3>River: <%= @game.river_card if @game.river_card %></h3>
<h3><%= flash[:ai_action] %></h3>


<% if @game.winner %>
  <h1><%= @game.winner %></h1>
  <p><%= @game.ai_players.last.present_cards %></p>
  <%= button_to "Continue", game_path(@game.id, refresh: :refresh), method: :patch %>
  <%= button_to "Quit", dashboard_path, method: :get %>
<% elsif @game.pocket_cards && @game.flop_cards.empty? %>
  <%= button_to "Deal Flop", game_path(@game.id), method: :patch %>
<% elsif @game.flop && @game.turn_card.nil? %>
  <%= button_to "Deal Turn", game_path(@game.id), method: :patch %>
<% elsif @game.turn && !@game.river_card %>
  <%= button_to "Deal River", game_path(@game.id), method: :patch %>
<% elsif @game.river && !@game.winner %>
  <%= button_to "Show Winner", game_path(@game.id), method: :patch %>
<% else %>
  <%= button_to "Bet / Raise", edit_game_path(@game.id), method: :get %>
  <%= button_to "Call", game_path(game_id: @game.id, user_action: :call), method: :patch %>
  <%= button_to "Check", game_path(game_id: @game.id, user_action: :check), method: :patch %>
  <%= button_to "Fold", game_path(game_id: @game.id, user_action: :fold), method: :patch %>
<% end %>
