<h3>Opponents: <% @game.ai_players.each do |ai_player| %></h3>
  <%= ai_player.name %>
<% end %>
<h3>Little Blind: $<%= @game.little_blind %>.00</h3>
<h3>Big Blind: $<%= @game.big_blind %>.00</h3>


<h3>Cash: $<%= current_user.cash %>.00</h3>
<h3>Pocket: <%= @game.users.last.present_cards %></h3>
<h3>Flop: <%= @game.present_flop %></h3>
<h3>Turn: <%= @game.turn_card %></h3>
<h3>River: <%= @game.river_card %></h3>
<h3><%= flash[:ai_action] %></h3>


<% if @game.winner %>
  <h1><%= @game.winner %></h1>
  <p><%= @game.ai_players.last.present_cards %></p>
  <%= button_to "Continue", game_path(@game.id, refresh: :refresh), method: :patch %>
  <%= button_to "Quit", dashboard_path, method: :get %>
<% elsif @game.display_button %>
  <%= button_to @game.display_button, game_path(@game.id), method: :patch %>
<% else %>
  <%= button_to "Bet / Raise", edit_game_path(@game.id), method: :get %>
  <%= button_to @game.call_or_check, game_path(game_id: @game.id, user_action: @game.call_or_check.downcase.to_sym), method: :patch %>
  <%= button_to "Fold", game_path(game_id: @game.id, user_action: :fold), method: :patch %>
<% end %>
