<h3>Opponents: <% @game.find_players.reject { |p| p.class == User }.each do |ai_player| %></h3>
  <%= ai_player.name %>
<% end %>
<h3>Little Blind: $<%= @game.little_blind %>.00</h3>
<h3>Big Blind: $<%= @game.big_blind %>.00</h3>


<h3>Cash: $<%= current_user.cash %>.00</h3>
<h3>Pocket: <%= @game.users.last.present_cards %></h3>
<h3>Flop: <%= present_flop(@game) %></h3>
<h3>Turn: <%= @game.turn_card %></h3>
<h3>River: <%= @game.river_card %></h3>
<h3><%= flash[:initial_actions] %></h3>
<h3><%= flash[:error] %></h3>
<h3><%= flash[:ai_action] %></h3>

<% if @game.winner %>
  <h1><%= declare_winner(@game) %></h1>
  <p><%= winning_hand(@game) %></p>
  <%= button_to "Continue", game_path(@game.id, refresh: :refresh), method: :patch %>
  <%= button_to "Quit", dashboard_path, method: :get %>
<% elsif display_button(@game) %>
  <%= button_to display_button(@game), game_path(@game.id), method: :patch %>
<% else %>
  <%= button_to "Bet / Raise", edit_game_path(@game.id), method: :get %>
  <%= button_to call_or_check(current_user), game_path(game_id: @game.id, user_action: call_or_check(current_user).downcase.to_sym), method: :patch %>
  <%= button_to "Fold", game_path(game_id: @game.id, user_action: :fold), method: :patch %>
<% end %>
