<h3>Opponents: <% @game.ai_players.each do |ai_player| %></h3>
  <%= ai_player.name %>
<% end %>
<h3>Little Blind: $<%= @game.little_blind %>.00</h3>
<h3>Big Blind: $<%= @game.big_blind %>.00</h3>


<h3>Cash: $<%= current_user.cash %>.00</h3>
<h3>Pocket: <%= @game.users.last.present_cards %></h3>
<h3>Flop: <%= @game.present_flop if !@game.flop_cards.empty? %></h3>
<h3><%= flash[:ai_action] %></h3>

<% if @game.pocket_cards && @game.flop_cards.empty? %>
  <%= button_to "Deal Flop", game_path(@game.id), method: :patch %>
<% else %>
  <%= button_to "Raise" %>
  <%= button_to "Call", calls_path(game_id: @game.id) %>
  <%= button_to "Check" %>
  <%= button_to "Fold" %>
<% end %>
